<div class="row">
    <div class="col-4" style="background-color: #e2e2e7;">
        <div class="serviceContent">
            <h3 class="title"><span class="title-icon">
                    <i class="far fa-user"></i></span><span
                    class="title-text">Customer-centric</span>
            </h3>
            <p class="pText">
                We focus on customer-centric values and are committed to delivering service based on
                the
                requirements of each customer. We're always working to make things better. Our
                company
                fulfils the specific needs of a customer, which differ from person to person.
            </p>
        </div>
    </div>
    <div class="col-4" style="background-color: #d6d6dc;">
        <div class="serviceContent">
            <h3 class="title"><span class="title-icon">
                    <i class="fa-solid fa-laptop"></i>
                </span><span class="title-text">Phy-gital</span></h3>
            <p class="pText">Our fully integrated Phy-gital process is fast and efficient, bridging
                the
                gap between the physical and digital worlds. The main goal is to bring the best
                parts of
                the physical customer experience into the digital realm and vice versa, ensuring the
                lowest turnout time and the fastest disbursal.</p>
        </div>
    </div>
    <div class="col-4" style="background-color: #afafb4;">
        <div class="serviceContent">
            <h3 class="title"><span class="title-icon">
                    <i class="fas fa-chart-line"></i>
                </span><span class="title-text">Hassle-free</span></h3>
            <p class="pText">Our team here will ensure that your loan application process will be
                smooth
                and hassle-free, ensuring complete data security and privacy for each applicant. We
                take
                care of the complete loan process from application to
                disbursal, thereby creating a timeless experience.</p>
        </div>
    </div>
</div>
<div class="row" style="height: 30rem;">
    <div class="col-6 split">
        <div class="featureContent" style="padding: 70px; text-align: center;">
            <h1 class="h1" style="color: #e70e56; font-size: 60px;">
                <strong class="gradient-text" style="font:60px Comic Sans MS;">Why choose <br> SP
                    Finnacle?</strong>
            </h1>
            <!-- <img src="/assets/images/slide1.jpeg" alt="Cinque Terre" width="600" height="400"> -->
        </div>
    </div>
    <div class="col-6 split">
        <div class="featureContent">
            <h4 class="sp">SP Finnacle is a financial services marketplace, helping customers find
                the best financial
                products by assisting customers to make informed decisions. Over the last three
                years, our customers are
                assisted by professionals having an aggregate experience of more than two decades in
                finance, banking,
                and insurance advisory. We take care of the complete loan process from application,
                documentation, and
                approval to disbursal, which creates a timeless experience for every customer. With
                our network of 20+
                Banks and NBFCs provide affordable and suitable deals.
            </h4>
        </div>
    </div>
</div>
<div class="row" style="height: 43.75rem; position: relative;">
    <div class="col-12 finance"></div>
    <div class="shade"></div>
</div>
<div class="row" style="height: 43.75rem; background-color: #252935;">
    <div class="col-6 split">
        <div class="featureImg1"></div>
    </div>
    <div class="col-6 split">
        <div class="featureContent">
            <h1 class="h1">
                One-Stop Solution: Fulfill all of your loan requirements with professional advice
            </h1>
            <h4 class="h4">
                We aim to provide top quality services to a greater number of individual and
                corporate customers than
                any other fintech company. Our loan experts provide individualized loan assistance
                and make it easy for
                you to meet your credit requirements. We guarantee you the best loan offer based on
                your needs, with
                help of our 20+ banks.</h4>
        </div>
    </div>
</div>
<div class="row" style="height: 43.75rem; background-color: #e70e56; ">
    <div class="col-6 split">
        <div class="featureContent">
            <h1 class="h1">
                Focusing On Active Approach: How Our Team Works On Your Projects</h1>
            <h4 class="h4">ProMotionic's award-winning team develops and produces effective work for
                our clients by
                connecting brands to culture in ways that capture the interest of consumers and spur
                them to action.
                Core practice areas include experimental marketing, branded content and other.</h4>
        </div>
    </div>
    <div class="col-6 split">
        <div class="featureImg2"></div>
    </div>
</div>
<div class="row" style="background-color: #252935; color: white;">
    <div class="col-12 service">
        <span>Our Services</span>
        <div class="row">
            <br>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="card bg-dark text-white">
                    <img class="card-img" src="/assets/images/pl.jpg" alt="Card image">
                    <div class="mask"></div>
                    <div class="card-img-overlay" style="padding: 4rem;">
                        <h1 class="card-title">PERSONAL Loan</h1>
                        <p class="card-text" style="font-size:1.5rem;">Customized personal loan up
                            to 70Lac with
                            flexible repayment</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card bg-dark text-white">
                    <img class="card-img" src="/assets/images/hl.jpg" alt="Card image">
                    <div class="mask"></div>
                    <div class="card-img-overlay" style="padding: 4rem;">
                        <h1 class="card-title">HOME LOAN</h1>
                        <p class="card-text" style="font-size:1.5rem;">Digital sanction at
                            attractive interest rate in
                            few steps</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card bg-dark text-white">
                    <img class="card-img" src="/assets/images/cc.jpg" alt="Card image">
                    <div class="mask"></div>
                    <div class="card-img-overlay" style="padding: 4rem;">
                        <h1 class="card-title">CREDIT CARD</h1>
                        <p class="card-text" style="font-size:1.5rem;">Pre-set credit limit at your
                            purchase without
                            paying in cash</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <br>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="card bg-dark text-white">
                    <img class="card-img" src="/assets/images/bl.jpg" alt="Card image">
                    <div class="mask"></div>
                    <div class="card-img-overlay" style="padding: 4rem;">
                        <h1 class="card-title">BUSINESS LOAN</h1>
                        <p class="card-text" style="font-size:1.5rem;">
                            Customized business loan up to 1cr with flexible repayment</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card bg-dark text-white">
                    <img class="card-img" src="/assets/images/lap.jpg" alt="Card image">
                    <div class="mask"></div>
                    <div class="card-img-overlay" style="padding: 4rem;">
                        <h1 class="card-title">LOAN AGAINST PROPERTY</h1>
                        <p class="card-text" style="font-size:1.5rem;">
                            Secured loan availed against commercial/residential property</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card bg-dark text-white">
                    <img class="card-img" src="/assets/images/insurance.jpg" alt="Card image">
                    <div class="mask"></div>
                    <div class="card-img-overlay" style="padding: 4rem;">
                        <h1 class="card-title">INSURANCE</h1>
                        <p class="card-text" style="font-size:1.5rem;">
                            Get digital policies with proper guidance</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="height: 38.75rem; background-color: white;">
    <div class="col-6 experience">
        Complete process in 48 hours!
        <br>
        <p class="pStyle" style="padding-top: 15px;">
            Our team concentrates on logging in digitally within an hour of beginning work on your
            application,
            intimating every step to the customer, and providing end-to-end follow-up. We offer
            document collection at
            your doorstep.</p>
    </div>
    <div class="col-6 expContent">
        <div class="row">
            <div class="col-1"><i class="fa-solid fa-hand-holding-dollar"></i></div>
            <div class="col-1"></div>
            <div class="col-10">
                <h3>Fast Disbursal</h3>
                <p class="pStyle">
                    Our team handles every step of the loan process, including application,
                    documentation, approval, and
                    disbursal, which creates a timeless experience for every customer.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-1"><i class="fa-solid fa-user-shield"></i></div>
            <div class="col-1"></div>
            <div class="col-10">
                <h3>Safe & Secure</h3>
                <p class="pStyle">
                    For each applicant, our entire process ensures total privacy and data
                    protection. All services and
                    products offered by Sp Finnacle are 100% safe and secure.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-1"><i class="fa-solid fa-user"></i></div>
            <div class="col-1"></div>
            <div class="col-10">
                <h3>Personalised</h3>
                <p class="pStyle">
                    We help consumers choose loans wisely by presenting the best offers based on
                    your profile, credit
                    score, financial demands, and repayment capacity.</p>
            </div>
        </div>

    </div>
</div>