<div id="header">
    <button type="button" class="btn btn-danger btn-floating btn-lg" id="btn-back-to-top" (click)="scrollToTop()">
        <i class="fas fa-arrow-up"></i>
    </button>
    <div class="wrap">
        <section class="content">
            <div class="frame-wrapper">
                <div class="row">
                    <app-header></app-header>
                </div>
                <div class="row">
                    <!-- <app-feature></app-feature> -->
                    <app-main></app-main>
                    <app-contact></app-contact>
                </div>
            </div>
        </section>
    </div>
</div>
<!-- <div class="sp-header-top" style="bottom: 0;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-sm-8">
                <div class="top-address">
                    <p>
                        <a href="mailto:spfinnacle@gmail.com"><i
                                class="fa fa-envelope-o"></i>spfinnacle@gmail.com</a>
                        <span><i class="fa fa-map-marker"></i>The Saffire apartment, 11th avenue,
                            Ashok nagar</span>
                        <a href="tel:+918190091049"><i class="fa fa-phone"></i>+91 819 009 1049</a>
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-md-4 col-sm-4">
                <div class="top-right-menu">
                    <ul class="social-icons text-right">
                        <li><a class="facebook social-icon" href="#" title="Facebook"><i
                                    class="fa fa-facebook"></i></a></li>
                        <li><a class="twitter social-icon" href="#" title="Twitter"><i
                                    class="fa fa-twitter"></i></a></li>
                        <li><a class="instagram social-icon" href="#" title="Instagram"><i
                                    class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- #e85687
#e83f78
#e32d6b

#72757d
#63656b
#474a54 -->